body {
    @apply bg-black text-white;
}

main#appMain {
    @apply relative;
}

h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
    font-family: 'ff-cocon-pro', sans-serif;
}

h2 {
    @apply text-2xl;
    font-family: 'ff-cocon-pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main#appMain:not(.withoutBg)::before {
    content: '';
    /*  background: url('assets/bg3.jpg') center center; */
    background-size: cover;
    @apply fixed top-0 right-0 left-0 bottom-0 opacity-20 -z-10;
}

.text-justify-center {
    text-align: justify;
    text-align-last: center;
}

#__nuxt .hyperlink {
    @apply text-cyan-950 underline underline-offset-2;
}

#__nuxt {
    @apply relative min-h-screen pb-10;
}

::-webkit-scrollbar {
    width: 6px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #2bf5d1;
    border: 0px none black;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #2bf5d1;
}
::-webkit-scrollbar-thumb:active {
    background: #2bf5d1;
}
::-webkit-scrollbar-track {
    background: black;
    border: 0px none black;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: black;
}
::-webkit-scrollbar-track:active {
    background: black;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
